---
layout: single
title: "Aspiring Theoretical Physicist"
header:"agagagag"
#  overlay_color: "#5e616c"
  overlay_image: crabnebhd-1.png
#  overlay_filter: .4
  caption: "[Image credit: **NASA/ESA**](https://www.spacetelescope.org/images/heic0515a/)"
#excerpt: ""
author: gdiubaldo
---

{% include base_path %}
<p>Hi and welcome!</p>

<p>This is my relatively new public spot for various cognitive curios, baubles, and gewgaws I&#8217;ve been curating over the years.</p>

<p>If you are looking for my group's website, you can find it here: [<a href="http://fancyphysics.org">http://fancyphysics.org</a>].</p>

<p>Enjoy! <br />
&#8211;<a href="mailto:jjmc@prettyquestions.com">jjmc</a>, June 2017</p>


{% if paginator.page == 1 %}
  {% assign pinned = site.posts | where:"pinned","true" %}
  {% if pinned.size > 0 %}
    <h3 class="archive__subtitle"><i class="fa fa-thumb-tack" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].pinned_posts | default: "Pinned Posts" }}</h3>
    {% for post in pinned %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endif %}

<h2 class="archive__title">{{ site.data.ui-text[site.locale].recent_posts | default: "Latest Blog Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


<div>

</div>

<h2 class="archive__title">Latest Publications</h3>
<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="34589/"></script> <!-- end feedwind code -->
